body {
    margin: 0 auto;
    width: 700px;
    background-color: grey;
}

#time {
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin: auto;
    margin-top: 150px;
    margin-left: 250px;
    display: flex;
    max-width: 250px;
    align-items: center;
    border: 20px black;
    outline: none;  
}

.btn {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    width: 250px;
    color: black;
    text-align: center;
    border: 0px black;
    border-radius: 0px;
    margin: auto;
    margin-top: 10px;
    margin-left: 250px;
